*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1, h2, h3 {
  line-height: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}